{{define "title"}} Yamblg | {{ .Post.Title }} {{end}}
{{define "content"}}
<section class="blog-container">
  <article class="post-card">
    <a href="{{ .BaseURL }}">
      <button>← Volver al inicio</button>
    </a>
    
    <header>
      <h1 class="post-title">{{ .Post.Title }}</h1>
    </header>
    
    <div class="post-body">
    <p class="post-meta">
        <em>Publicado por <strong>{{ .Post.Author }}</strong> • {{ .Post.Date }}</em>
    </p>
      {{ .Post.ContentBody }}
    </div>
    <a href="{{ .BaseURL }}">
      <button>← Volver al inicio</button>
    </a>
  </article>
</section>
{{ end }}